div.wrapper {
    width:100%;
}
div.form-block-1 {
    float:left;
    width:60%;
}
div.form-block-1 div.content {
    font-size: medium;
    font-weight: 700;
    padding-top: 5%;
    padding-right: 30%;
}
div.form-block-1 div.edit-form-content{
    padding-right: 5%;
}

div.form-block-2{
    float:right;
    width:40%;
}
div.agree label{
    margin-left: 5px;
    font-weight: 700;
}
div.agree{
    margin-top: 10px;
    margin-bottom: 10px;
}
div.form-block-2 .form-info{
    text-align: center;
}